# Environment Variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
env/
venv/
ENV/
.pytest_cache/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
**/build/
android/app/debug/
android/app/profile/
android/app/release/
.gradle/

# Node.js
node_modules/
.pnpm-store/
dist/

# Vercel
.vercel

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
*.log
